<div class="einheitenContainer">
    <h2>Einheiten</h2>
    <button mat-button class="floatRight" (click)="this.openDialog()">Hinzufügen</button>
    
    <div class="accordionContainer">
        <mat-accordion *ngIf="this.einheiten?.length">
            <mat-expansion-panel *ngFor="let einheit of this.einheiten">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ einheit.topic }}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ einheit.description }}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="marginBottom">
                    <button mat-icon-button class="floatRight" [routerLink]="'einheiten/' + einheit.id">
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                    <p>
                        {{ this.getText(einheit) }}
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>