.fill {
    width: 100%;
}

.marginBottom {
    margin-bottom: 16px;
}

h2 {
    width: fit-content;
    display: inline-block;
    font-weight: normal;
}

.floatRight {
    float: right;
    margin-right: 0px;
}

.einheitenContainer {
    padding-top: 16px;
}