<div class="controlWrapper">
    <whiteboard-delete-element-control class="control" [board]="this.board"></whiteboard-delete-element-control>
    <whiteboard-clone-element-control class="control" [board]="this.board"></whiteboard-clone-element-control>
    <whiteboard-mirror-element-vertically-control class="control" [board]="this.board"></whiteboard-mirror-element-vertically-control>
    <whiteboard-mirror-element-horizontally-control class="control" [board]="this.board"></whiteboard-mirror-element-horizontally-control>
</div>