<div class="canvasWrapper" [ngStyle]="{ 'width.%': this.width, 'height.%': this.height }">
    <app-canvas></app-canvas>

    <div class="bottomElements">
        <div class="table">
            <div class="tc left">
                <div class="controlWrapper leftWrapper">
                    <app-menu-control class="control"></app-menu-control>
                </div>
            </div>
            <div class="tc center">
                <div class="controlWrapper centerWrapper">
                    <app-pen-control class="control"></app-pen-control>
                    <app-delete-control class="control"></app-delete-control>
                    <app-move-control class="control"></app-move-control>
                    <app-shape-control class="control"></app-shape-control>
                </div>
            </div>
            <div class="tc right">
                <div class="controlWrapper rightWrapper">
                    
                </div>
            </div>
        </div>
    </div>
</div>