<!--<mat-slider class="fill" tickInterval="1" color="primary" [min]="0" [max]="255" [step]="1" [(value)]="this.stroke.color.r"></mat-slider>
<mat-form-field appearance="outline" class="fill">
    <mat-label>R</mat-label>
    <input type="text" matInput [(ngModel)]="this.stroke.color.r">
</mat-form-field>

<mat-slider class="fill" tickInterval="1" color="primary" [min]="0" [max]="255" [step]="1" [(value)]="this.stroke.color.g"></mat-slider>
<mat-form-field appearance="outline" class="fill">
    <mat-label>R</mat-label>
    <input type="text" matInput [(ngModel)]="this.stroke.color.r">
</mat-form-field>

<mat-slider class="fill" tickInterval="1" color="primary" [min]="0" [max]="255" [step]="1" [(value)]="this.stroke.color.b"></mat-slider>
<mat-form-field appearance="outline" class="fill">
    <mat-label>R</mat-label>
    <input type="text" matInput [(ngModel)]="this.stroke.color.r">
</mat-form-field>

<mat-slider class="fill" tickInterval="1" color="primary" [min]="0" [max]="255" [step]="1" [(value)]="this.stroke.color.b"></mat-slider>
<mat-form-field appearance="outline" class="fill">
    <mat-label>R</mat-label>
    <input type="text" matInput [(ngModel)]="this.stroke.color.r">
</mat-form-field>-->

<app-colorset [stroke]="this.stroke"></app-colorset>

<mat-slider tickInterval="1" color="primary" [min]="1" [max]="75" [step]="1" [(value)]="this.stroke.thickness"></mat-slider>