$factor: 0.1;
$height: 133px;
$width: 300px;
$activeBorderColor: rgb(24, 245, 24);
$inactiveBorderColor: #383838;
$borderRadius: 7px;
$activeBorderThickness: 4px;
$inactiveBorderThickness: 1px;
$activePadding: 3px;
$inactivePadding: 0px;
$inactiveHeight: calc($height - 2 * $inactiveBorderThickness - 2 * $inactivePadding);
$activeHeight: calc($height - 2 * $activeBorderThickness - 2 * $activePadding);
$activeWrapperHeight: $activeHeight;
$inactiveWrapperHeight: $inactiveHeight;
$transition: all 0.2s ease-in-out;

.preview {
    margin-top: 7px;
    border-radius: $borderRadius;
    transition: $transition;
    overflow: hidden;
    height: $inactiveHeight;
    padding: $inactivePadding;
    position: relative;
    border: $inactiveBorderThickness solid $inactiveBorderColor;
}

.preview.active {
    border: $activeBorderThickness solid $activeBorderColor;
    padding: $activePadding;
    height: $activeHeight;
}

.preview.inactive {   
    border: $inactiveBorderThickness solid $inactiveBorderColor;
}

.deleteButton {
    $offset: 7px;
    position: absolute;
    z-index: 1;
    top: $offset;
    right: $offset;
    display: none;
}

.preview:hover .deleteButton, .preview.active .deleteButton {
    display: initial;
}

.previewWrapper {
    overflow: hidden;
    height: $inactiveWrapperHeight;
    border-radius: calc($borderRadius / 1.2);
    transition: $transition;
}

.preview.active .previewWrapper {
    height: $activeWrapperHeight;
    border-radius: calc($borderRadius / 1.5);
}

.svgPreview {
    transform: scale($factor) translateX(-13500px) translateY(-6000px); // the translate-values are hard-coded
    height: calc($height / $factor);
    width: calc($width / $factor);
}