@import "../../../global/styles/control";

app-stroke-picker {
    margin: 40px;
}

.card {
    $width: 470px;
    $height: 300px;
    $cardhoverabovecontrols: 15px;
    width: $width;
    height: $height;
    transform: translateY(calc(-1 * $height - $controlheight - $cardhoverabovecontrols)) translateX(calc(calc($width - $controlheight) / -2));
}