<div class="control" [ngClass]="this.getNgClasses()" (click)="this.click()">
    <mat-icon>view_quilt</mat-icon>
</div>
<div *ngIf="this.active && this.isOpen()" class="card">
    <div class="">
        <app-shape-picker [board]="this.board" #shapePicker></app-shape-picker>
        <app-stroke-picker [board]="this.board" [listener]="this.cListener" [strokeWidthListener]="this.sListener"></app-stroke-picker>
        <app-fill-picker [board]="this.board" [listener]="this.cListener"></app-fill-picker>
    </div>
</div>