.controlWrapper {
    //width: 80%;
    width: auto;
    display: table;
    height: 100%;
    background-color: transparent;
    pointer-events: all;
    overflow: hidden;
    box-shadow: 3px 3px 5px #00000028;
    border: 1px solid #00000038;
    border-radius: 5px;
}

.control {
    float: left;
}