@import "../../global-whiteboard/styles/picker";

$padding: 15px;

rect {
    x: $padding;
    y: $padding;
    width: calc($widthCard - 2 * $padding);
    height: calc($heightCard - 2 * $padding);
}

ellipse {
    $plusPadding: 10px;
    cx: calc($widthCard / 2);
    cy: calc($heightCard / 2);
    rx: calc($widthCard / 2 - $padding);
    ry: calc($widthCard / 2 - $padding - $plusPadding);
}

circle {
    cx: calc($widthCard / 2);
    cy: calc($heightCard / 2);
    r: calc($widthCard / 2 - $padding);
}
