$widthShapes: 100px;
$heightShapes: $widthShapes;
$padding: 15px;

.shapesContainer {
    margin: 20px 6px;
    float: none;
}

.shapeContainer {
    width: $widthShapes;
    height: $heightShapes;
    float: left;
    overflow: hidden;
    display: inline;
    margin: 6px;
    transition: all 0.2s ease-in-out;
    border: 1px solid #00000038;
    border-radius: 5px;
}

.shapeContainer * {
    transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
}

.inactive:hover {
    transform: translateY(-4px);
    box-shadow: 1px 1px 5px #00000028;
}

.inactive {
    box-shadow: 3px 3px 5px #00000028;
}

.active {
    transform: translateY(-14px);
    box-shadow: 3px 10px 5px #00000028;
}

.active:hover {
    box-shadow: 1px 1px 5px #00000028;
}

rect {
    x: $padding;
    y: $padding;
    width: calc($widthShapes - 2 * $padding);
    height: calc($heightShapes - 2 * $padding);
}

ellipse {
    $plusPadding: 10px;
    cx: calc($widthShapes / 2);
    cy: calc($heightShapes / 2);
    rx: calc($widthShapes / 2 - $padding);
    ry: calc($widthShapes / 2 - $padding - $plusPadding);
}

circle {
    cx: calc($widthShapes / 2);
    cy: calc($heightShapes / 2);
    r: calc($widthShapes / 2 - $padding);
}
