
<div class="fachContainer">
    <button mat-button color="accent" class="floatRight" (click)="this.onDeleteClick()">Löschen</button>
    <h1>
        {{ this.fach?.name }}
    </h1>

    <p>
        {{ this.fach?.description }}
    </p>

    <mat-form-field appearance="outline" class="fill">
        <mat-label>Notizen</mat-label>
        <textarea *ngIf="this.fach" matInput [(ngModel)]="this.fach.notes"></textarea>
    </mat-form-field>

    <div class="marginBottom">
        <faecher-tasks *ngIf="this.fach" [tasks]="this.fach?.tasks">

        </faecher-tasks>
    </div>

    <div class="marginBottom">
        <faecher-files *ngIf="this.fach" [files]="this.fach?.files">

        </faecher-files>
    </div>

    <div class="marginBottom">
        <faecher-whiteboards *ngIf="this.fach" [whiteboards]="this.fach?.whiteboards">

        </faecher-whiteboards>
    </div>

    <div class="marginBottom">
        <faecher-einheiten *ngIf="this.fach" [einheiten]="this.fach?.einheiten">
            
        </faecher-einheiten>
    </div>
</div>