@import "../../../global/styles/control";

.card {
    $width: auto;
    $height: 50px;
    $cardhoverabovecontrols: 15px;
    width: $width;
    height: $height;
    transform: translateY(calc(-1 * $height - $controlheight - $cardhoverabovecontrols));
}
