$wh: 25px;
$borderStandard: 1px;
$border: 2px;
$pad: 2px;
$whn: calc($wh - $border - 2 * $pad);

.wrapper {
    width: calc($wh + 2px);
    height: calc($wh + 2px);
    background-color: transparent;
    overflow: hidden;
}

.color {
    width: $wh;
    height: $wh;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.2s linear;
    border: $borderStandard solid #00000028;
}

.sameColor {
    border: $border solid #00000099;
    width: $whn;
    height: $whn;
    padding: $pad;
}

.bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}