<div class="main">
  <mat-toolbar *ngIf="!this.activeWhiteboardService.isWhiteboardActive" color="primary">
    <button mat-icon-button class="icon" (click)="this.opened = !this.opened">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button class="icon" [routerLink]="this.goBackUrl()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button routerLink="/faecher/" class="icon">
      <mat-icon>home</mat-icon>
    </button>

    <span class="spacer"></span>

    <div class="search" routerLink="/search/" routerLinkActive="searchActive">
      <input type="text" placeholder="Suchen..." [(ngModel)]="this.searchService.input">
    </div>

    <button mat-icon-button class="icon" [routerLink]="'settings'">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>

  <button *ngIf="this.activeWhiteboardService.isWhiteboardActive" color="primary" mat-mini-fab class="icon" [routerLink]="this.goBackUrl()" class="fabButton">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <mat-sidenav-container>
    <mat-sidenav [(opened)]="this.opened">
      <app-sidenav [(opened)]="this.opened">

      </app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet>

      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>