<div class="main">
  <mat-toolbar color="primary">
    <button mat-icon-button class="icon" (click)="this.opened = !this.opened">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button class="icon" routerLink="..">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Sirius</span>
    <span class="spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav [(opened)]="this.opened">
      <app-sidenav [(opened)]="this.opened">

      </app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet>

      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>