mat-toolbar {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

mat-toolbar button {
  -webkit-app-region: no-drag;
}

.spacer {
    flex: 1 1 auto;
}

.main {
    display: flex;
    flex-flow: column;
    height: 100%;
}

mat-sidenav-container {
    flex-grow: 1;
}

mat-sidenav {
    padding: 0px;
    min-width: 25%;
}

.icon {
    margin-right: 16px;
}

.fabButton {
    position: fixed;
    left: 30px;
    top: 30px;
    z-index: 6;
}