mat-toolbar {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

mat-toolbar button {
  -webkit-app-region: no-drag;
}

.spacer {
    flex: 1 1 auto;
}

.main {
    display: flex;
    flex-flow: column;
    height: 100%;
}

mat-sidenav-container {
    flex-grow: 1;
}

mat-sidenav {
    padding: 0px;
    min-width: 25%;
}

.icon {
    margin-right: 16px;
}

.fabButton {
    position: fixed;
    left: 30px;
    top: 30px;
    z-index: 6;
}

.header {
    cursor: pointer;
}

.search {
    transition: all 0.2s ease-in-out;
    height: 30px;
    margin-right: 15px;
    transition: all 0.2s ease-in-out;
    width: 250px;
}

.search input {
    transition: all 0.2s ease-in-out;
    background-color: #2a4492;
    height: 100%;
    border-radius: 6px;
    top: -3px;
    position: relative;
    font-size: 11pt;
    width: 100%;
    text-align: center;
    border: none;
    color: white;
}

.search input::placeholder {
    color: white;
    transition: all 0.2s ease-in-out;
}

.search input:hover {
    background-color: #3a54a2;
}

.search input:focus {
    outline: none;
}

.search input:active {
    border: none;
}

.searchActive {
    margin-right: 100px;
    width: 2000px;
    margin-left: 100px;
}

.searchActive input {
    width: 100%;
}

.searchActive input:focus, .searchActive input:hover {
    background-color: white;
    color: #111320;
}

.searchActive input:hover::placeholder, .searchActive input:focus::placeholder {
    color: #111320;
}