<h1 mat-dialog-title class="fill">Hintergrundfarbe</h1>
<div mat-dialog-content class="fill">
    <div class="pickerContainer">
      <div class="cardContainer" [ngStyle]="{'background-color': this.data.board.backgroundColor.toString(), 'background-image': 'url(\'' + this.noneBG.url + '\''}" [ngClass]="this.isNone() ? 'active' : 'inactive'" (click)="this.setNone()">
      </div>
      <div class="cardContainer" [ngStyle]="{'background-color': this.data.board.backgroundColor.toString(), 'background-image': 'url(\'' + this.lineBG.url + '\''}" [ngClass]="this.isLine() ? 'active' : 'inactive'" (click)="this.setLine()">
      </div>
      <div class="cardContainer" [ngStyle]="{'background-color': this.data.board.backgroundColor.toString(), 'background-image': 'url(\'' + this.karoBG.url + '\''}" [ngClass]="this.isKaro() ? 'active' : 'inactive'" (click)="this.setKaro()">
      </div>
      <div class="cardContainer" [ngStyle]="{'background-color': this.data.board.backgroundColor.toString(), 'background-image': 'url(\'' + this.crossBG.url + '\''}" [ngClass]="this.isCross() ? 'active' : 'inactive'" (click)="this.setCross()">
      </div>
    </div>
    <app-colorset [defaultColors]="this.colors" [listener]="this.listener" [currentColor]="this.currentColor"></app-colorset>
</div>
<div mat-dialog-actions align="end" class="fill">
  <button cdkFocusInitial mat-button (click)="onNoClick()">Schließen</button>
</div>