@import "../../../global-whiteboard/styles/control";

.card {
    $numberOfElements: 6;

    $width: 50px;
    $height: calc(50px * $numberOfElements);
    $cardhoverabovecontrols: 15px;
    width: $width;
    height: $height;
    transform: translateY(calc(-1 * $height - $controlheight - $cardhoverabovecontrols));
}