<mat-card *ngIf="this.electron.isElectronApp">
    <mat-card-title>
        <h3>Dateien</h3>
    </mat-card-title>
    <mat-card-content>
        <div class="fileContainer">
            <div *ngFor="let file of this.files" class="file" [ngStyle]="{ 'border-left': this.faecherManager.getBorderStyle(file.categoryId)}">
                <div class="text" (click)="this.openFile(file)" >
                    {{ file.name }}
                </div>
                <div align="right">
                    <faecher-category-selector [(categoryId)]="file.categoryId"></faecher-category-selector>
                    <button class="remove" color="accent" mat-button (click)="this.removeFile(file)"><mat-icon>clear</mat-icon></button>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions *ngIf="this.isAbleToAddFiles" align="end">
        <button mat-flat-button>Hinzufügen
            <input id="inp" title="" multiple type="file" (change)="this.openFilesInput()">
        </button>
    </mat-card-actions>
</mat-card>