<div class="loadingDiv">
    <svg class="loading" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1" baseProfile="full"
        width="220" height="220">
        <title>Icon animated</title>
        
        <rect x="150" y="30" width="70" height="160" rx="15" ry="10" fill="#a6e1faff">
            <animate id="r5a1" begin="0.8s;r5a3.end+1s" attributeType="XML" attributeName="y" from="30" to="0" dur="0.25s" />
            <animate id="r5a2" begin="r5a1.end" attributeType="XML" attributeName="y" from="0" to="60" dur="0.5s" />
            <animate id="r5a3" begin="r5a2.end" attributeType="XML" attributeName="y" from="60" to="30" dur="0.25s" />
        </rect>
        <rect x="110" y="30" width="70" height="160" rx="15" ry="10" fill="#0e6ba8ff">
            <animate id="r4a1" begin="0.6s;r4a3.end+1s" attributeType="XML" attributeName="y" from="30" to="0" dur="0.25s" />
            <animate id="r4a2" begin="r4a1.end" attributeType="XML" attributeName="y" from="0" to="60" dur="0.5s" />
            <animate id="r4a3" begin="r4a2.end" attributeType="XML" attributeName="y" from="60" to="30" dur="0.25s" />
        </rect>
        <rect x="70" y="30" width="70" height="160" rx="15" ry="10" fill="#0a2472ff">
            <animate id="r3a1" begin="0.4s;r3a3.end+1s" attributeType="XML" attributeName="y" from="30" to="0" dur="0.25s" />
            <animate id="r3a2" begin="r3a1.end" attributeType="XML" attributeName="y" from="0" to="60" dur="0.5s" />
            <animate id="r3a3" begin="r3a2.end" attributeType="XML" attributeName="y" from="60" to="30" dur="0.25s" />
        </rect>
        <rect x="30" y="30" width="70" height="160" rx="15" ry="10" fill="#001c55ff">
            <animate id="r2a1" begin="0.2s;r2a3.end+1s" attributeType="XML" attributeName="y" from="30" to="0" dur="0.25s" />
            <animate id="r2a2" begin="r2a1.end" attributeType="XML" attributeName="y" from="0" to="60" dur="0.5s" />
            <animate id="r2a3" begin="r2a2.end" attributeType="XML" attributeName="y" from="60" to="30" dur="0.25s" />
        </rect>
        <rect x="0" y="30" width="60" height="160" rx="15" ry="10" fill="#00072dff">
            <animate id="r1a1" begin="0s;r1a3.end+1s" attributeType="XML" attributeName="y" from="30" to="0" dur="0.25s" />
            <animate id="r1a2" begin="r1a1.end" attributeType="XML" attributeName="y" from="0" to="60" dur="0.5s" />
            <animate id="r1a3" begin="r1a2.end" attributeType="XML" attributeName="y" from="60" to="30" dur="0.25s" />
        </rect>
    
    </svg>
</div>