<div class="einheitContainer">
    <button mat-button color="accent" class="floatRight deleteButton" (click)="this.onDeleteClick()">Löschen</button>
    <button mat-button class="floatRight" (click)="this.onEditClick()">Bearbeiten</button>
    <h1>
        {{ this.fach?.name + ' > ' + this.einheit?.topic }}
    </h1>

    <p>
        {{ this.einheit?.description }}
    </p>

    <mat-form-field appearance="outline" class="fill">
        <mat-label>Notizen</mat-label>
        <textarea *ngIf="this.einheit" matInput [(ngModel)]="this.einheit.notes"></textarea>
    </mat-form-field>

    <div class="marginBottom">
        <faecher-tasks *ngIf="this.einheit" [tasks]="this.einheit?.tasks">

        </faecher-tasks>
    </div>

    <div class="marginBottom">
        <faecher-files *ngIf="this.einheit" [files]="this.einheit?.files">

        </faecher-files>
    </div>

    <div class="marginBottom">
        <faecher-whiteboards *ngIf="this.einheit" [whiteboards]="this.einheit?.whiteboards">

        </faecher-whiteboards>
    </div>
</div>