mat-card {
    margin-bottom: 16px;
}

.fachContainer {
    margin: 20px;
    padding: 16px;
}

.faecherContainer {
    margin-top: 5px;
}

.floatRight {
    float: right;
    margin-right: 0px;
}

h1 {
    width: fit-content;
    display: inline-block;
}

h2 {
    font-weight: normal;
}