<div class="fachContainer">
    <h1>Mappen</h1>
    <button mat-button class="floatRight" (click)="this.openDialog()">Hinzufügen</button>

    <div class="faecherContainer">
        <mat-card *ngFor="let gruppe of this.mappenManager.mappenData.mappen">
            <mat-card-title>
                <h2>{{ gruppe.title }}</h2>
            </mat-card-title>
            <mat-card-content>
                {{ gruppe.description }}
            </mat-card-content>
            <mat-card-actions align="end">
                <button [routerLink]="'/mappen/' + gruppe.id" routerLinkActive="active" mat-flat-button>Anzeigen</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
