<div class="faecherContainer">
    <mat-nav-list>
        <mat-list-item [routerLink]="'/mappen/'" class="fill" (click)="this.openedChange.emit(false)">
            Übersicht
        </mat-list-item>
        <mat-divider *ngIf="this.mappenManager.mappenData.mappen.length != 0"></mat-divider>
        <mat-list-item routerLinkActive="activeLink" *ngFor="let mappe of this.mappenManager.mappenData.mappen" [routerLink]="this.mappenManager.getLinkToMappe(mappe)" class="fill" (click)="this.openedChange.emit(false)">
            {{ mappe.title }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLinkActive="activeLink" [routerLink]="'/whiteboard/'" class="fill" (click)="this.openedChange.emit(false)">
            Whiteboard
        </mat-list-item>
        <!--<mat-list-item routerLinkActive="activeLink" [routerLink]="'/editor/'" class="fill" (click)="this.openedChange.emit(false)">
            Editor
        </mat-list-item>-->
        <mat-list-item routerLinkActive="activeLink" [routerLink]="'/settings/'" class="fill" (click)="this.openedChange.emit(false)">
            Einstellungen
        </mat-list-item>
    </mat-nav-list>
    <!--<div class="fachContainer fill">
        <button mat-button [routerLink]="'/faecher/'" class="fill" (click)="this.openedChange.emit(false)">
            Übersicht
        </button>
    </div>
    <div *ngFor="let gruppe of this.faecherManager.faecher" class="fachContainer topStroke fill">
        <button mat-button [routerLink]="'/faecher/' + gruppe.id" class="fill" (click)="this.openedChange.emit(false)">
            {{ gruppe.name }}
        </button>
    </div>-->
</div>
