<div *ngIf="this.searchService.input == ''">
    <p class="paragraph">
        <span class="iconSpan">
            <mat-icon class="icon">search</mat-icon>
        </span>
        <span>
            <h1>Zum Suchen in die Suchleiste tippen!</h1>
        </span>
    </p>
</div>

<div *ngIf="this.searchService.input != '' && this.searchService.searchResults.length == 0">
    <p class="paragraph">
        <span class="iconSpan">
            <mat-icon class="icon">error_outline</mat-icon>
        </span>
        <span>
            <h1>Kein Ergebnis gefunden!</h1>
        </span>
    </p>
</div>

<mat-nav-list *ngIf="this.searchService.input != '' && this.searchService.searchResults.length != 0">
    <mat-list-item *ngFor="let res of this.searchService.searchResults" [routerLink]="res.routerLink" (click)="res.additionalClickAction != undefined ? res.additionalClickAction() : ''">
        <mat-icon matListIcon>
            {{
                res.type == 'file' ? 'insert_drive_file'
            :   res.type == 'einheit' ? 'subject'
            :   res.type == 'fach' ? 'tab'
            :   res.type == 'whiteboard' ? 'receipt'
            :   res.type == 'task' ? 'check_box'
            :   res.type == 'taskOpen' ? 'check_box_outline_blank'
            :   res.type == 'setting' ? 'settings_applicationsx'
            :   res.type == 'place' ? 'place' : ''
            }}
        </mat-icon>
        <h3 class="header" matLine>{{ res.header }}</h3>
        <p matLine>{{ res.description }}</p>
    </mat-list-item>
</mat-nav-list>