@import "../../../global-whiteboard/styles/control";

.card {
    $width: 200px;
    $height: 170px;
    $cardhoverabovecontrols: 15px;
    width: $width;
    height: $height;
    transform: translateY(calc(-1 * $height - $controlheight - $cardhoverabovecontrols)) translateX(calc(calc($width - $controlheight) / -2));
}