<div class="svgWrapper">
    <whiteboard-selector [board]="this.board" *ngIf="this.initialized"></whiteboard-selector>
    
    <svg #canvas [ngStyle]="{'background-color': this.board.backgroundColor.toString()}">
        <pattern #bgImgPattern id="bg-pattern" x="0" y="0" width="75" height="75" patternUnits="userSpaceOnUse">
            <image #bgImg width="75" height="75"></image>
        </pattern>
        <rect #patternRect x="0" y="0" width="100%" height="100%" fill="url(#bg-pattern)"></rect>
        <g #g>

        </g>
    </svg>

    <whiteboard-lineal class="overlay" [board]="this.board" *ngIf="this.initialized"></whiteboard-lineal>
    <whiteboard-geodreieck class="overlay" [board]="this.board" *ngIf="this.initialized"></whiteboard-geodreieck>
    
</div>