
<div class="gruppeContainer">
    <button mat-button color="accent" class="floatRight deleteButton" (click)="this.onDeleteClick()">Löschen</button>
    <button mat-button class="floatRight" (click)="this.onEditClick()">Bearbeiten</button>
    <h1>
        {{ this.gruppe?.name }}
    </h1>

    <p>
        {{ this.gruppe?.description }}
    </p>

    <mat-form-field appearance="outline" class="fill">
        <mat-label>Notizen</mat-label>
        <textarea *ngIf="this.gruppe" matInput [(ngModel)]="this.gruppe.notes"></textarea>
    </mat-form-field>

    <div class="marginBottom">
        <faecher-tasks *ngIf="this.gruppe" [tasks]="this.gruppe?.tasks">

        </faecher-tasks>
    </div>

    <div class="marginBottom">
        <faecher-files *ngIf="this.gruppe" [files]="this.gruppe?.files">

        </faecher-files>
    </div>

    <div class="marginBottom">
        <faecher-whiteboards *ngIf="this.gruppe" [whiteboards]="this.gruppe?.whiteboards" [gruppe]="this.gruppe">

        </faecher-whiteboards>
    </div>

    <div class="marginBottom">
        <faecher-editors *ngIf="this.gruppe" [editors]="this.gruppe?.editors" [gruppe]="this.gruppe">

        </faecher-editors>
    </div>

    <div class="marginBottom">
        <faecher-untergruppen *ngIf="this.gruppe" [oberElement]="this.gruppe">

        </faecher-untergruppen>
    </div>
</div>
